<html>
    <head>
        <title>Analisis</title>
    </head>
    <body>
        <h1>Analisis Data</h1>
        <ul>
            <li><a href="/" title="">Home</a></li>
            <li><a href="/analisis" title="">Analyze</a></li>
            <li><a href="/about" title="">About</a></li>
        </ul>

        <ul>
            <li><a href="/analisis/crawling" title="">Crawling</a></li>
            <li><a href="/analisis/preprocessing" title="">Preprocessing</a></li>
            <li><a href="/analisis/classification" title="">Classification</a></li>
            <li><a href="/analisis/visualization" title="">Visualization</a></li>
        </ul>
    </body>
</html>