{% load static %}
<html>
    <head>
        <title>Analisis</title>
        <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/bootstrap.css" %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
                <img style="height: 30px;" src="{% static "img/logo.png" %}" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/analisis">Analyze</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/about">About Me<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
            </div>
        </nav>
        <div class="container">
            <h1>Tentang Saya</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ex dolorum officia magni quod, aperiam commodi vero. Officia aspernatur, harum dicta vel porro ipsa, similique autem sapiente dolorum nobis suscipit.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ex dolorum officia magni quod, aperiam commodi vero. Officia aspernatur, harum dicta vel porro ipsa, similique autem sapiente dolorum nobis suscipit.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ex dolorum officia magni quod, aperiam commodi vero. Officia aspernatur, harum dicta vel porro ipsa, similique autem sapiente dolorum nobis suscipit.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ex dolorum officia magni quod, aperiam commodi vero. Officia aspernatur, harum dicta vel porro ipsa, similique autem sapiente dolorum nobis suscipit.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ex dolorum officia magni quod, aperiam commodi vero. Officia aspernatur, harum dicta vel porro ipsa, similique autem sapiente dolorum nobis suscipit.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ex dolorum officia magni quod, aperiam commodi vero. Officia aspernatur, harum dicta vel porro ipsa, similique autem sapiente dolorum nobis suscipit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ex dolorum officia magni quod, aperiam commodi vero. Officia aspernatur, harum dicta vel porro ipsa, similique autem sapiente dolorum nobis suscipit.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ex dolorum officia magni quod, aperiam commodi vero. Officia aspernatur, harum dicta vel porro ipsa, similique autem sapiente dolorum nobis suscipit.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ex dolorum officia magni quod, aperiam commodi vero. Officia aspernatur, harum dicta vel porro ipsa, similique autem sapiente dolorum nobis suscipit.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ex dolorum officia magni quod, aperiam commodi vero. Officia aspernatur, harum dicta vel porro ipsa, similique autem sapiente dolorum nobis suscipit.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ex dolorum officia magni quod, aperiam commodi vero. Officia aspernatur, harum dicta vel porro ipsa, similique autem sapiente dolorum nobis suscipit.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ex dolorum officia magni quod, aperiam commodi vero. Officia aspernatur, harum dicta vel porro ipsa, similique autem sapiente dolorum nobis suscipit.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ex dolorum officia magni quod, aperiam commodi vero. Officia aspernatur, harum dicta vel porro ipsa, similique autem sapiente dolorum nobis suscipit.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ex dolorum officia magni quod, aperiam commodi vero. Officia aspernatur, harum dicta vel porro ipsa, similique autem sapiente dolorum nobis suscipit.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ex dolorum officia magni quod, aperiam commodi vero. Officia aspernatur, harum dicta vel porro ipsa, similique autem sapiente dolorum nobis suscipit.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ex dolorum officia magni quod, aperiam commodi vero. Officia aspernatur, harum dicta vel porro ipsa, similique autem sapiente dolorum nobis suscipit.
</p>

        </div>
        <script src="{% static "vendor/jquery/jquery.js" %}" type="text/javascript"></script>
        <script src="{% static "vendor/popper/popper.js" %}" type="text/javascript"></script>
        <script src="{% static "vendor/bootstrap/bootstrap.js" %}" type="text/javascript"></script>
    </body>
</html>